*{
    margin: 0;
}
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 100px auto auto;
    background-color: cadetblue;
}
header{
    grid-area: cabeca;
    background-color: aqua;
    height: 100px;
}
aside{
    grid-area: secundario;
    background-color: gainsboro;
}
main{
    grid-area: principal;
    background-color: rgb(11, 70, 122);
    height: 600px;
}
footer{
    grid-area:rodape;
    background-color: cornflowerblue;
    height: 100px;
}
@media only screen and (max-width: 800px){
body{
    grid-template-areas:
    "cabeca"
    "secundario"
    "principal"
    "rodape";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
}